.baseType {
    width: 400px;
    background: yellow;
    height: 30px;
    margin: 30px auto;
}

.array {
    width: 200px;
    background: pink;
    height: 100px;
    margin: 30px auto;
}

.object {
    width: 300px;
    background: green;
    height: 100px;
    margin: 30px auto;
}